doctype html
head
  title  Order Successfully 
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  style(type='text/css').
    #outlook a {
    padding: 0;
    }
    body {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    }
    table,
    td {
    border-collapse: collapse;
    }
    img {
    border: 0;
    height: auto;
    line-height: 100%;
    outline: none;
    text-decoration: none;
    -ms-interpolation-mode: bicubic;
    }
    p {
    display: block;
    margin: 13px 0;
    }
  link(href='https://fonts.googleapis.com/css?family=Nunito:100,400,700' rel='stylesheet' type='text/css')
  style(type='text/css').
    @import url(https://fonts.googleapis.com/css?family=Nunito:100,400,700);
  // <![endif]
  style(type='text/css').
    @media only screen and (min-width:480px) {
    .mj-column-per-100 {
    width: 100% !important;
    max-width: 100%;
    }
    .mj-column-per-50 {
    width: 50% !important;
    max-width: 50%;
    }
    .mj-column-per-25 {
    width: 25% !important;
    max-width: 25%;
    }
    }
div(style='background:#ffffff;background-color:#ffffff;margin:0px auto;max-width:600px;')
  table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='background:#ffffff;background-color:#ffffff;width:100%;')
    tbody
      tr
        td(style='direction:ltr;font-size:0px;padding:20px 0;text-align:center;')
          .mj-column-per-100.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;')
            table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='vertical-align:top;' width='100%')
              tbody
                tr
                  td(align='left' style='font-size:0px;padding:10px 25px;word-break:break-word;')
                    div(style='font-family:Nunito, Helvetica, Arial, sans-serif;font-size:16px;font-weight:400;line-height:20px;text-align:left;color:#54595f;')
                      img(src='../src/images/FindLogo.png' alt='' style='width: 120px;')
                      h1(style='margin: 0; font-size: 24px; line-height: 32px; line-height: normal; font-weight: bold;')  Thank you for your order,!{name} 
                tr
                  td(align='left' style='font-size:0px;padding:10px 25px;word-break:break-word;')
                    div(style='font-family:Nunito, Helvetica, Arial, sans-serif;font-size:16px;font-weight:400;line-height:20px;text-align:left;color:#54595f;')
                      p(style='margin: 0 0 5px 0;')
                        | Your order was successfully placed and your payment has been processed. Here is your order summary:
div(style='background:#f9f9f9;background-color:#f9f9f9;margin:0px auto;max-width:600px;')
  table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='background:#f9f9f9;background-color:#f9f9f9;width:100%;')
    tbody
      tr
        td(style='direction:ltr;font-size:0px;padding:10px 25px;text-align:center;')
          div(style='margin:0px auto;max-width:550px;')
            table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='width:100%;')
              tbody
                tr
                  td(style='direction:ltr;font-size:0px;padding:5px 0;text-align:center;')
                    .mj-column-per-100.mj-outlook-group-fix(style='font-size:0;line-height:0;text-align:left;display:inline-block;width:100%;direction:ltr;')
                      .mj-column-per-50.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:50%;')
                        table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='vertical-align:top;' width='100%')
                          tbody
                            tr
                              td(align='left' style='font-size:0px;padding:5px 0 0 0;word-break:break-word;')
                                div(style='font-family:Nunito, Helvetica, Arial, sans-serif;font-size:14px;font-weight:400;line-height:20px;text-align:left;color:#54595f;')
                                  p(style='margin: 0 0 5px 0;') !{date}
                      .mj-column-per-50.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:50%;')
                        table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='vertical-align:top;' width='100%')
                          tbody
                            tr
                              td(align='right' style='font-size:0px;padding:5px 0 0 0;word-break:break-word;')
                                div(style='font-family:Nunito, Helvetica, Arial, sans-serif;font-size:14px;font-weight:700;line-height:18px;text-align:right;color:#999999;')
                                  p(style='margin: 0 0 5px 0;') Order No: !{orderNo}
          div(style='margin:0px auto;max-width:550px;')
            table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='width:100%;')
              tbody
                tr
                  td(style='border-bottom:1px solid #ddd;border-top:1px solid #ddd;direction:ltr;font-size:0px;padding:5px 0;text-align:center;')
                    .mj-column-per-100.mj-outlook-group-fix(style='font-size:0;line-height:0;text-align:left;display:inline-block;width:100%;direction:ltr;')
                      .mj-column-per-100.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;')
                        table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='vertical-align:top;' width='100%')
                          tbody
                            tr
                              td(align='left' style='font-size:0px;padding:5px 0 0 0;word-break:break-word;')
                                div(style='font-family:Nunito, Helvetica, Arial, sans-serif;font-size:14px;font-weight:bold;letter-spacing:1px;line-height:20px;text-align:left;text-transform:uppercase;color:#54595f;')
                                  p(style='margin: 0 0 5px 0;') Items Ordered
          // Item Order
          div(style='margin:0px auto;max-width:550px;')
            table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='width:100%;')
              tbody
                tr
                  td(style='border-bottom:1px solid #ddd;direction:ltr;font-size:0px;padding:10px 0 5px 0;text-align:center;')
                    .mj-column-per-25.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;')
                      table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='vertical-align:top;' width='100%')
                        tbody
                          tr
                            td(align='center' style='font-size:0px;padding:0 5px 5px 0;word-break:break-word;')
                              table.mj-full-width-mobile(border='0' cellpadding='0' cellspacing='0' role='presentation' style='border-collapse:collapse;border-spacing:0px;')
                                tbody
                                  tr
                                    td.mj-full-width-mobile(style='width:132px;')
                                      img(height='auto' src=img style='border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:16px;' width='132')
                    .mj-column-per-50.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;')
                      table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='vertical-align:top;' width='100%')
                        tbody
                          tr
                            td(align='left' style='font-size:0px;padding:0;word-break:break-word;')
                              div(style='font-family:Nunito, Helvetica, Arial, sans-serif;font-size:16px;font-weight:400;line-height:20px;text-align:left;color:#54595f;')
                                p(style='margin: 0 0 5px 0;') Product Name
                          tr
                            td(align='left' style='font-size:0px;padding:0;word-break:break-word;')
                              div(style='font-family:Nunito, Helvetica, Arial, sans-serif;font-size:14px;font-weight:400;line-height:18px;text-align:left;color:#999999;')
                                p(style='margin: 0 0 5px 0;')
                                  strong start rent date :
                                  |  !{start}
                          tr
                            td(align='left' style='font-size:0px;padding:0;word-break:break-word;')
                              div(style='font-family:Nunito, Helvetica, Arial, sans-serif;font-size:14px;font-weight:400;line-height:18px;text-align:left;color:#999999;')
                                p(style='margin: 0 0 5px 0;')
                                  strong end rent date   :
                                  |  !{end}
                          tr
                            td(align='left' style='font-size:0px;padding:0;word-break:break-word;')
                              div(style='font-family:Nunito, Helvetica, Arial, sans-serif;font-size:14px;font-weight:400;line-height:18px;text-align:left;color:#999999;')
                                p(style='margin: 0 0 5px 0;')
                                  strong Day :
                                  |  1
                    .mj-column-per-25.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:bottom;width:100%;')
                      table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='vertical-align:bottom;' width='100%')
                        tbody
                          tr
                            td(align='right' style='font-size:0px;padding:0;word-break:break-word;')
                              div(style='font-family:Nunito, Helvetica, Arial, sans-serif;font-size:16px;font-weight:400;line-height:20px;text-align:right;color:#54595f;')
                                p(style='margin: 0 0 5px 0;') &#xE3F;!{perday}
          div(style='margin:0px auto;max-width:550px;')
            table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='width:100%;')
              tbody
                tr
                  td(style='direction:ltr;font-size:0px;padding:10px 0;text-align:center;')
                    .mj-column-per-100.mj-outlook-group-fix(style='font-size:0;line-height:0;text-align:left;display:inline-block;width:100%;direction:ltr;')
                      .mj-column-per-50.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:50%;')
                        table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='vertical-align:top;' width='100%')
                          tbody
                            tr
                              td(align='left' style='font-size:0px;padding:5px 0 0 0;word-break:break-word;')
                                div(style='font-family:Nunito, Helvetica, Arial, sans-serif;font-size:14px;font-weight:400;line-height:20px;text-align:left;color:#54595f;')
                                  p(style='margin: 0 0 5px 0;') &#xE08;&#xE33;&#xE19;&#xE27;&#xE19;&#xE27;&#xE31;&#xE19;&#xE43;&#xE19;&#xE01;&#xE32;&#xE23;&#xE40;&#xE0A;&#xE48;&#xE32;
                                  p(style='margin: 0 0 5px 0;') &#xE23;&#xE32;&#xE04;&#xE32;
                                  p(style='margin: 0 0 5px 0;') &#xE21;&#xE31;&#xE14;&#xE08;&#xE33;
                      .mj-column-per-50.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:50%;')
                        table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='vertical-align:top;' width='100%')
                          tbody
                            tr
                              td(align='right' style='font-size:0px;padding:5px 0 0;word-break:break-word;')
                                div(style='font-family:Nunito, Helvetica, Arial, sans-serif;font-size:14px;font-weight:400;line-height:20px;text-align:right;color:#54595f;')
                                  p(style='margin: 0 0 5px 0;') !{time} day
                                  p(style='margin: 0 0 5px 0;') &#xE3F; !{time*perday}
                                  p(style='margin: 0 0 5px 0;') &#xE3F; !{time*perday*0.3}
          div(style='margin:0px auto;max-width:550px;')
            table(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='width:100%;')
              tbody
                tr
                  td(style='border-top:1px solid #ddd;direction:ltr;font-size:0px;padding:5px 0;text-align:center;')
                    .mj-column-per-100.mj-outlook-group-fix(style='font-size:0;line-height:0;text-align:left;display:inline-block;width:100%;direction:ltr;')
                      .mj-column-per-50.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:50%;')
                        table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='vertical-align:top;' width='100%')
                          tbody
                            tr
                              td(align='left' style='font-size:0px;padding:5px 0 0 0;word-break:break-word;')
                                div(style='font-family:Nunito, Helvetica, Arial, sans-serif;font-size:18px;font-weight:bold;line-height:24px;text-align:left;color:#54595f;')
                                  p(style='margin: 0 0 5px 0;') Total
                      .mj-column-per-50.mj-outlook-group-fix(style='font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:50%;')
                        table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='vertical-align:top;' width='100%')
                          tbody
                            tr
                              td(align='right' style='font-size:0px;padding:5px 0 0;word-break:break-word;')
                                div(style='font-family:Nunito, Helvetica, Arial, sans-serif;font-size:18px;font-weight:bold;line-height:24px;text-align:right;color:#54595f;')
                                  p(style='margin: 0 0 5px 0;') &#xE3F; !{time*perday*1.3}
